numpy
pandas
scikit-learn
matplotlib
seaborn
tensorflow
flask
requests
ipykernel
wordcloud
nltk
torch
transformers
peft
datasets
wandb
tf-keras
accelerate
tensorboard
gradio
python-box
pytest
fastapi
uvicorn
jinja2
ensure
boto3
mypy-boto3-s3
-e .